:root {--main-text-style:"Roboto" , sans-serif;
       --main-text-color:#212121;
       --header-logo-studio-color:#000000;
       --main-activ-text-color:#2196F3;
       --white-color:#FFFFFF;
       --button-background-color:#F5F4FA;
       --p-and-header-contact-color:#757575;
       --footer-contact-color:rgba(255, 255, 255, 0.60); 
       --main-button-activ-color: #188CE8;
       --footer-background:#2F303A;
       --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


   /* Studio style */

.body-style{
    font-family:var(--main-text-style); 
    font-style: normal; 
    color:var(--main-text-color);
    margin: 0px;
}

.header-div-container, .about-us-style, .main-style, .regular-customers-section{ 
    background-color:var(--white-color);
}
.title-section-style, .footer-style {
    background-color:var(--footer-background);
}
.our-team-style {
    background-color:var(--button-background-color);
}


.footer-studio-style{
    color:var(--white-color);
}

.logo-style, .footer-logo-style { 
    color:var(--header-logo-studio-color); 
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: normal;
}

.web-style {
    color:var(--main-activ-text-color);
}

.link-header-style, .link {
    text-decoration:none; 
    font-size: 14px;
    font-weight: 500; 
    list-style:none; 
    line-height: normal; 
    color: var(--main-text-color);
}

 .link:hover,.link:focus{
    color:var(--main-activ-text-color);
}

.current{
    padding-bottom: 29px;
    color: var(--main-activ-text-color);
    border-bottom: 4px solid var(--main-activ-text-color);
    border-radius: 2px;
}

.header-contacts ul, .mail, .phone-number {
    color:var(--p-and-header-contact-color); 
    list-style: none; 
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
}


.mail:hover, .phone-number:hover, .mail:focus, .phone-number:focus{
    color:var(--main-activ-text-color);
}


.h1-title{
    color:var(--white-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900; 
    letter-spacing: 2.64px;
    text-transform: uppercase;  
    line-height:60px;
    margin: 0px;
}

.main-button{
    background-color:var(--main-activ-text-color); 
    color:var(--white-color); 
    cursor: pointer;
    text-align: center; 
    border: none;  
    line-height:2.14; 
    flex-shrink: 0; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700; 
    font-family: inherit; 
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    margin-top: 30px;
    transition: color var(--transition), background-color var(--transition), border var(--transition);
}

.main-button:hover{ 
    background-color:var(--main-button-activ-color); 
    color:var(--white-color);
}




.buttons-style{ 
    background-color:var(--button-background-color); 
    color:var(--main-text-color); 
    cursor: pointer; 
    border: none; 
    font-size: 16px;
    font-style: normal;
    line-height:1.85; 
    font-weight: 500; 
    font-family: inherit; 
    border-radius: 4px; 
    padding: 6px 22px;
    min-width: 64px;
}

.buttons-style:hover, .buttons-style:focus{
    background-color:var(--main-activ-text-color); 
    color: var(--white-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); }

.features-style { 
    list-style: none;
}

h3 {
     color: var(--main-text-color); 
     font-size: 14px; 
     font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase; 
}

h2{
    color:var(--main-text-color);
    text-align: center;
    font-size: 36px; 
    line-height: normal;
    font-weight: 700;
}

.features-style p{
    color:var(--p-and-header-contact-color);
    line-height:1.85; 
    font-size: 14px;
}


.staf-style h4{
    color:var(--main-text-color);
    line-height: normal;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin: 0px;
}


.staf-style p{
    color:var(--p-and-header-contact-color);
    text-align: center;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.street-style{
    color:var(--white-color); 
    font-style: normal; 
    font-size: 14px; 
    font-family: inherit;
    font-weight: 400;
}

.footer-contact{
    color:var(--footer-contact-color);
    font-family:inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400; 
    text-decoration: none;
    line-height:1.14;
    transition: color var(--transition);
}

.footer-contact:hover{
    color:var(--main-activ-text-color);
}


.our-portofolio-style span{
    color:var(--main-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:2.57;
}
.our-portofolio-style p{
    color:var(--p-and-header-contact-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    line-height:2.57;
}


/* Studio flex-box */
/*  Mobile version */
@media screen and (min-width: 428px){
    .header-style{
        display: flex;
        border-bottom: 1px solid #EEE;
    }
    .header-div-container{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 2vw;
    }

    .header-style .logo-section{
        margin: 16px 0px;
     }
    
    .header-style .nav-section ul {
        display:none;
    }
    .header-contacts{
        display:none;
    } 
    .header-div-container .nav-menu-button{
        display: flex;
        position: absolute;
        top:10px;
        right: 15px;
    }  
    .nav-menu-button svg{
        fill: var(--main-text-color);
        width: 40px;
        height: 40px;
        transition: var(--transition);
    }
    .nav-menu-button svg:hover, .nav-menu-button svg:focus{
        fill: var(--main-activ-text-color);
    }
    /* Mobile-menu*/
    .js-menu-container{
        display: none;
    }
    .js-menu-container.is-open{
       display: flex;
       position: fixed;
       width: 100%;
       height: 100%;
       padding: 48px 0px 48px 40px;
       z-index: 1;
       background-color: #FFFFFF;
    }
    .js-menu-container .js-close-menu{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 15px;
        padding: 0px;
        border: none;
        background-color: #FFF;
        cursor: pointer;
    }
    .js-menu-container.js-close-menu svg{
        fill: var(--main-text-color);
        transition: var(--transition);
    }
    .js-menu-container .js-close-menu:hover, .js-menu-container .js-close-menu svg:focus{
        fill: var(--main-activ-text-color);
    }

    .menu-drawer-navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-drawer-navigation .menu-pages{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .menu-pages a{
        color: var(--main-text-color);
        font-family:var(--main-text-style);
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
        text-decoration: none;
    }
    .menu-pages a:hover,.menu-pages a:focus{
        color: var(--main-activ-text-color);
    } 

    .menu-contacts{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .menu-contacts a{
        color: var(--p-and-header-contact-color);
        font-family: var(--main-text-style);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        text-decoration: none;
        cursor: pointer;
    }
    .menu-contacts .menu-contacts-tel{
        font-size:34px;
    }
    .menu-contacts a:hover, .menu-contacts a:focus{
        color: var(--main-activ-text-color);
    }

    .menu-social-media{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .menu-social-media a{
        color: var(--main-activ-text-color);
        font-family: var(--main-text-style);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;
        text-decoration: none;
        border-right: 1px solid #21212133;
        padding-right: 10px;
    }
    .menu-social-media a:last-child{
        border: none;
    }

      /* What we do*/
    .feature-h2{
        display: none;
    }
    .feature-img-style{
        display: none;
    }
    .about-us-style{
        padding: 60px 3vw;
    }
    .features-style{
        padding: 0px;
        margin: 0px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    
    .features-style li .svg-container{
        padding: 25px 190px;
        background-color: #F5F4FA;
        display: flex;
        justify-content: center; 
   }
   .svg-container svg{
        width: 70px;
        height: 70px;
    }
   .features-style h3{
      margin-bottom: 10px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
   }
   .features-style p{
       margin: 0px;
       display: flex;
       justify-content: start;
       align-items: stretch;
   }

/* Background*/
.title-section-style{
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 200px 0px;
    background-image: url("../images/background-img-d-1x.png");
    background-color: rgba(47, 48, 58, 0.40);
    background-repeat: no-repeat;
    background-size: cover;
}




/* Our team*/
.our-team-style{
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 3vw;
}
.our-team-style h2{
    margin: 0px;
}
.staf-style{ 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px; 
    gap: 30px;
    margin-top: 30px;
}
.our-team-img img{
    display: block;
    width: 450px;
    height: auto;
}
.staf-style li{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.emp-information{
    padding: 30px 32px;
    margin-top:-5px;
}
.employee-svg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    height: 44px;
    transition: color var(--transition), background-color var(--transition), border var(--transition);
}
.employee-svg a{
    padding: 12px;
    fill:#AFB1B8; 
}
.employee-svg a:hover{
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
}


   /* Regular customers*/
.regular-customers-container{
    padding: 60px 3vw;  
}
.regular-customers-container h2{
    margin-bottom: 30px;
    margin-top: 0px;
}
.regular-customers-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.regular-customers-section a{
    border-radius: 4px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    padding: 16px 52px;
   transition: color var(--transition), border var(--transition);
}
.regular-customers-section a:hover{
    border: 1px solid #2196F3;
    fill: #2196F3;
}

/* footer */
.footer-style{
    padding: 60px 2vw;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer-logo-section{
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
}
.footer-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-address{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.footer-section2 h3,.footer-section3 h3 {
    color:var(--white-color);
    font-family:var(--main-text-style);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    margin: 0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-section2{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.footer-section1-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
}

.footer-section2 .footer-svg{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    list-style-type: none;
    column-gap: 10px;
    margin: 0px;
    padding: 0px; 
    transition: color var(--transition), background-color var(--transition), border var(--transition);
}
.footer-section3, .footer-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-svg a{
    padding: 12px 12px;
    align-items: center;
    fill: var(--white-color);
    background-color: #FFFFFF1A;
    border-radius: 50%;
}
.footer-svg a:hover{
background-color: #2196F3;
}
.footer-input input[type="email"]{
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    outline: none;
    width: 94vw;
    transition: background-color var(--transition);
}

.footer-input input[type="email"]::placeholder{
    color: rgba(255, 255, 255, 0.60);
    font-family: var(--main-text-style);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.48px;
}
.footer-input input[type="email"]:focus{
    border-radius: 4px;
    border: 1px solid #2196F3;
}
.footer-input button{
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196F3;
    cursor: pointer; 
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 77px 10px 43px;
    transition: background-color var(--transition);
}
.footer-input button svg{
    fill: #FFF;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 28px;
    top: 13px; 
}
.footer-input button:hover{
background-color: #188CE8;
}



}

/* Portofolio style and flex-bofx section*/

.main-style{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portofolio-section{
     flex-direction: column;
     display: flex;
     justify-content: center;
     align-items: center;
}

.portofolio-buttons{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    transition: color var(--transition), background-color var(--transition), border var(--transition) ;
}

.portofolio-img-section {
    padding-top: 50px;
    justify-content: center;
}
.our-portofolio-style{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
   padding: 0px;
   list-style: none;
}
.our-portofolio-style li:hover{
    cursor: pointer;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.our-portofolio-style li img{
  max-width: 100%;
  height: auto; 
  display: block;
}
.text-images{
    background-color: var(--white-color);
    border-top: none;
    border: 2px solid #EEE;
    text-decoration: none;
    margin-top: -5px;
    padding: 20px 24px;
}
.text-images p{
    margin: 4px 0px 0px 0px;
    text-decoration: none;
} 

.text-images span{
    text-decoration: none;
}
.text-images span:hover {
    text-decoration: none;
}

/* Portofolio overlay text */

.overlay-container{
    position: relative;
    overflow: hidden;
    
}
.project-text-overlay{
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: 250ms ease-in-out; 
}

.project-text-overlay .hiden-text{
    font-family: var(--main-text-style) ;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding:63px 24px 93px 24px;
    margin: 0px;
}

.overlay-container:hover .project-text-overlay{
    transform: translatey(0%);
}






/* Modal page style and flex-box */


.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content:center;
    align-items: center; 
    overflow: auto;
}
 .modal-content{
    position: relative;
    background-color: #FFFFFF;
    width:40%;
    height:90%;
    padding:40px;
    animation-name: OpenModal;
    animation-duration: 1s;
}
@keyframes OpenModal {
    from{opacity: 0}
    to{opacity: 1}
}
.modal-close-btn{
    color: #000000;
    background-color: #FFF; 
    cursor: pointer;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    position:absolute; 
    top:8px;
    right:8px;
    transition: color var(--transition);
}
.modal-close-btn:hover, .modal-close-btn:focus{
    color: #2196F3;
}
.is-hidden{
  visibility:hidden;
  opacity: 0%;
  pointer-events:auto;
}


 /* Form style */

 
 .modal-content h2{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
 }
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}
label{
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
input, textarea{
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    background: #FFF;
    padding: 11px 12px 11px 42px;
    outline: none;
}
.input-container svg{
    width: 18px;
    height: 18px;
    position: absolute;
    top:12px;
    left:12px;
    color: #212121;
}
.input-container textarea{
    padding: 12px 16px;
    height: 120px;
}
.input-container textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}


input:focus, textarea:focus, input:hover, textarea:hover{
    border: 1px solid var(--main-activ-text-color);
}
 input:focus + svg{
    fill: var(--main-activ-text-color);
}


.terms-and-conditions-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    padding-left: 12px;
    margin: 0px;
  }
.terms-and-conditions-label span{
    color: #757575;
    font-family: var(--main-text-style);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.terms-and-conditions-label span a{
    color: #2196F3;
    font-family: var(--main-text-style);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.terms-and-conditions-labe{
    fill: #212121;
    width: 13px;
    height: 13px;
}


.terms-and-conditions-check{
    appearance: none;
    width: 16px;
    height: 15px;
    padding: 0px;
}
.terms-and-conditions-label .icon-uncheckedbox{
    width: 16px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 12px; 
    cursor: pointer;
}
.terms-and-conditions-check:not(:checked){
    visibility: hidden;
}
  .terms-and-conditions-check:checked + label > .icon-uncheckedbox {
    display: none;
}

  .terms-and-conditions-label .icon-checkedbox:not(:checked){
    position: absolute;
    width: 16px;
    height: 15px;
    top: calc(50% - 7.5px);
    left: 12px;
    visibility: hidden; 
    cursor: pointer;
}
.terms-and-conditions-check:checked + label > .icon-checkedbox{
    visibility:visible ;
}

.contact-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form-button button{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 80px;
    width: 200px;
    height: 50px;
    transition: background-color var(--transition); 
}
.contact-form button:hover{
    background: #188CE8;
}





/*  Tablet */
@media screen and (min-width: 768px){

    .header-div-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 2vw;
    }
    
    .header-style .logo-section{
        margin: 25px 0px;
     }
     
     .header-contacts ul li:hover{
       fill:#2196F3;
     }
     
    .header-style .nav-section ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 259px;
        padding: 0px;
        margin: 32px 0px;
        transition: color var(--transition);
    }
    .header-contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     .header-contacts ul{
        fill: #757575;
        display: flex; 
        flex-direction: column;
        gap: 10px;
        padding:0px;
        margin:21px 0px;
        transition: color var(--transition);
     }
     .header-contacts ul li .phone-number, .header-contacts ul li .mail{
        display: flex;
        align-items: center;
        column-gap: 10px;
     }
     .header-div-container .nav-menu-button{
        display: none;
     }

     /* What we do*/
     .feature-h2{
        display: none;
    }
    .feature-img-style{
        display: none;
    }
     .about-us-style {
        padding: 60px 2vw; 
    }
    .features-style {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .features-style li .svg-container{
        padding: 25px 142px; 
    }
    .features-style h3{
        display: flex;
        justify-content: start;
    }
    

    /* Our team*/
    .our-team-style {
        padding: 60px 2vw;
    }
    .staf-style {
        margin-top: 50px;
        display: grid;
        grid-template-columns: auto auto;
    }
    .our-team-img img{
        display: block;
        width: 354px;
        height: auto;
    }
 
     /* Regular Customer*/

     .regular-customers-container{
        padding: 60px 2vw;
    }
     .regular-customers-section a{
        padding: 16px 60px;
    }

     /* footer*/
     .footer-style{
        padding: 60px 2vw;
     }
     .footer-section1-2{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 20vw;
     }
     .footer-input input[type="email"]{
        width: 60vw;
     }

}

/*  Desktop */
@media screen and (min-width: 1158px){ 

    /* Header*/
    .header-div-container{
        padding: 0px 10vw;
    }
    .header-contacts ul{
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 333px;
        margin:32px 0px;
    }

        /* What we do*/
    .about-us-style{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 94px 10vw;
    }
    .features-style{ 
        display:flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        width: 1170px;
    }
    .features-style li .svg-container{
        padding: 25px 100px;
    }
    .feature-h2{ 
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 94px;
    }
    .feature-img-style{
        list-style: none;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        column-gap: 30px;
        position: relative;
    }
    .what-we-do-img img{
        display: block;
        width: 370px;
        height: auto;
    }

    /* Feature overlay img*/
    .feature-img-overlay{
        position: absolute;
        background-color: rgba(47, 48, 58, 0.80);
        width: 370px;
        height: 70px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feature-img-style li .feature-img-overlay h3{
        color: var(--white-color);
        padding: 27px 0px;
        margin: 0px;
    }

    /* Our team*/
    .our-team-style {
        padding: 94px 10vw;
    }
    .staf-style {
        display: flex;
        flex-direction: row;
    }
    .our-team-img img{
        display: block;
        width: 270px;
        height: auto;
    }
    




    /* Regular Customer*/
    .regular-customers-container{
        padding: 94px 10px;
    }
    .regular-customers-container h2{
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .regular-customers-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
    }
    .regular-customers-section a{
        padding: 16px 32px;
    }

    /* Footer section */
    .footer-style{
      padding: 60px 10vw;  
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5vw;
     
    }
    .footer-logo-section{
        display: flex;
        justify-content: start;
        align-items: stretch;
    }
    .footer-section1{
        display: flex;
        flex-direction: column;
    }
    
    .footer-address{
        display: flex;
        justify-content: start;
        align-items: stretch;
    }
    .adr1{
        width:207px;
    }
    .footer-section1-2{
        display:flex;
        gap: 5vw;
        align-items: center;
        justify-content: center;
    }
    .footer-section2{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .footer-section2 h3{
        display: flex;
        justify-content: start;
        align-items: stretch;
    }
    
    .footer-section3{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footer-section3 h3{
        display: flex;
        justify-content: start;
        align-items: stretch;
    }
    .footer-input{
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    .footer-input input[type="email"]{
        width: 358px;
        height: 50px;
    }
    







}








